<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRygzP9gMkA51Wg93rJCWb5dQnCd921Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>461278347881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pumbaProject</string>
	<key>PROJECT_ID</key>
	<string>pumba-project-3b8bb</string>
	<key>STORAGE_BUCKET</key>
	<string>pumba-project-3b8bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461278347881:ios:1df0deefe5baed11e918f8</string>
</dict>
</plist>